.container-fluid{
    background:#fcdb00;
}
.container{
    margin: auto;
}
#navi{
    background-color:#fcdb00;
    border-bottom: #fcdb00;
}
#navmenu li a{
    font-size: 24px;
    font-family: 'Trebuchet MS';
    color: black;
}

#logo{
    padding-top:20px;
   
}
.p1{
    font-weight: bold;
    font-size: 30px;
    color: black;
}
#col1{
    padding-top: 90px;
}
#slider{
    text-align: center;
    padding-top:20px;
    padding-bottom: 40px;
}
#fluid1{
    background: white;
}
.p6{
    font-weight: bold;
    font-size: 50px;
    color: black;
}
#row3{
    text-align: center;
    padding-top: 50px;
}
#rowrow{
    margin:50px 0px 0px 0px;
}
#rowfeatured{
    margin: 30px 0px  30px 0px;
}
#fluid2{
    background: black;
}
.p8{
    color: yellow;
    font-weight: bold;
    font-size: 40px;
}
#rowrowrow{
    text-align: center;
    padding-top: 40px;
}
#email{
    color: gray;
    border-radius:3px;
   padding: 10px;
   padding-left: 10px;
   padding-right: 300px;
   margin-top: 40px;
}
#submit{
    background-color: #fcdb00;
    border-radius: 3px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}
.icon{
    text-align: center;
    margin-top: 40px;
}
.icon img{
    margin-left: auto;
    margin-right: auto;
   display: inline-block;
   margin: 10px;
}
#lastrow{
    color: #ffffff;
    margin: 50px 0px 30px 0px;
}

@media only screen and (max-width: 320px){

.container{
    margin:auto;
}
#logo{
    padding-top:20px;
   
}
#navhead{
    border: #fcdb00;
}
#navig{
    border:#fcdb00;
}
#navmenu{
    border: #fcdb00;
}
#navmenu li a{
    color: black;
}
#buttonton{
    position: relative;
    top: 10px;
    border:#fcdb00;
}
.p1{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: black;
}
#col1{
    padding-top: 20px;
    font-size: 13px;
    position: relative;
    top:380px;
}
.col2{
    display: block;
}
.os{
    margin: 30px auto auto 38px;
}
#slider{
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}
#oppo{
    position: relative;
    bottom: 400px;
    display:block;
    width: 90%;
    height: 90%;
    margin: 30px auto auto 14px;
    
}
#fluid1{
    background: white;
}
.p6{
    font-weight: bold;
    font-size: 24px;
    color: black;
    padding-top: 20px;

}
#row3{
    text-align: center;
    padding-top: 20px;
    
}
#rowrow{
    margin:20px 0px 0px 0px;
    
}
#ff{
    margin-bottom: 15px;
}

#fluid2{
    background: black;
}
.p8{
    color: yellow;
    font-weight: bold;
    font-size: 24px;
}
#rowrowrow{
    text-align: center;
    padding-top: 20px;
}
#email{
    color: gray;
    border-radius:3px;
   padding: 10px;
   padding-left: 10px;
   padding-right: 50px;
   margin-top: 20px;
}
#submit{
    background-color: #fcdb00;
    border-radius: 3px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}
.icon{
    text-align: center;
    margin-top: 40px;
}
.icon img{
    margin-left: auto;
    margin-right: auto;
   display: inline-block;
   margin: 10px;
}
#lastrow{
    color: #ffffff;
    margin: 20px 0px 30px 15px;
}
#blackbar{
    width:290px;
}
#whitebar{
    width:270px;
}}
@media (min-width: 768px) and (max-width: 1024px) {

.container{
    margin:auto;
}

#logo{
    padding-top:20px;
   
}

.p1{
    
    font-weight: bold;
    font-size: 50px;
    color: black;
}
#col1{
    padding-top: 20px;
    font-size: 23px;
    position: relative;
    top:540px;
    padding-left: 130px;
  
}
.col2{
    display: block;
}
.os{
    margin: 30px auto auto 150px;
}
#slider{
    text-align: center;
    padding-top:20px;
    padding-bottom: 40px;
}
#oppo{
    
    display:block;
    position: relative;
    bottom:500px;
    right: 10px;
    width: 50%;
    height: 50%;
    margin: 30px auto auto 180px;
    
}
#fluid1{
    background: white;
}
.p6{
    font-weight: bold;
    font-size: 50px;
    color: black;
    padding-top: 20px;
    text-align: center;

}
#row3{
    text-align: center;
    padding-top: 20px;
    
}
#rowrow{
    margin:15px 0px 0px 0px;
    position: relative;
    right: 23px;
}
#ff{
    margin-bottom: 15px;
}
#rowrow .row{
    margin: 30px 0px  20px 230px;
}
#fluid2{
    background: black;
}
.p8{
    color: yellow;
    font-weight: bold;
    font-size: 50px;
}
#rowrowrow{
    text-align: center;
    font-size: 23px;
    padding-top: 20px;
}
#email{
    color: gray;
    border-radius:3px;
   padding: 10px;
   padding-left: 10px;
   padding-right: 50px;
   margin-top: 20px;
}
#submit{
    background-color: #fcdb00;
    border-radius: 3px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}
.icon{
    text-align: center;
    margin-top: 40px;
}
.icon img{
    margin-left: auto;
    margin-right: auto;
   display: inline-block;
   margin: 10px;
}
#lastrow{
    color: #ffffff;
    margin: 20px 0px 30px 0px;
}
#blackbar{
    width:700px;
}
#whitebar{
    width:700px;
}
#menu{
    display: block;
    font-size: 40px;
    font-weight: bold;
    color:black;
    position: relative;
    bottom: 80px;
    left: 120px;
}
}